<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>

<h1>Form</h1>
<form action="add/post" method="POST">
    <label for="first">First name:</label><br>
    <input type="text" id="first" name="fname" placeholder="firstname"><br>
    <label for="last">Last name:</label><br>
    <input type="text" id="last" name="lname" placeholder="lastname"><br><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>